.beneto {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border: 2rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 1.5rem;
  border-radius: 2rem;
}

.beneto-reverse {
  flex-direction: column-reverse;
}

.beneto-icons {
  display: flex;
  gap: 1rem;
}

.beneto p:first-child {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.beneto p {
  text-align: center;
}

.beneto-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.beneto-link {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1.25rem;
  text-decoration: none;
  gap: 0.5rem;
}

.beneto-link svg {
  min-width: 2rem;
}

:is(
    .beneto-link:hover,
    .beneto-link:focus-visible,
    .beneto-link[aria-current]
  ) {
  box-shadow: inset 1000px 0 0 0 var(--purple) !important;
}

.beneto-no-posts {
  font-size: 1.125rem !important;
  color: var(--purple);
}
