.transition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background: var(--purple);
  visibility: hidden;
  z-index: 50;
  pointer-events: none;
  transition: transform 0.6s ease;
}

.transition.show-leave {
  visibility: visible;
  transform: translateY(0);
}

.transition.hide-enter {
  transform: translateY(0);
}

.transition.hide-leave {
  transform: translateY(-100%);
}
