<footer class="footer">
  <div class="footer-container">
    <p class="footer-title">
      Merci pour votre visite !
    </p>
    <p class="footer-copyright">© {{ author }}, 2024 - Maintenant</p>
    <nav class="footer-nav">
      <ul class="footer-links">
        {% for link in nav %}
          <li>
            <a
              class="footer-link"
              href="{{ link.permalink }}"
              target="_blank">
              {% render "icon.html" icon: link.icon
                , stroke: "#7B5199",
                width: 32,
                height: 32
                , className: "footer-icon" %}
              <span class="sr-only">{{ link.text }}</span>
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
    <p class="footer-made">Réalisé avec {% render "icon.html" icon: "heart"
  , stroke: "#7B5199"
  , className: "footer-icon" fill: "#7B5199", isDecorative: false, role: true, ariaLabel: "amour" %}</p>
  </div>
</footer>