.post {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 72rem;
  margin: auto;
}

.post-header {
  display: flex;
  gap: 0.5rem;
}

.post-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

:is(.post-date span, .post-reading span) {
  color: var(--purple);
  font-weight: 600;
}
.post-title {
  font-size: 2rem;
}

:is(.post-categories, .post-actions) {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.post-data {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.post-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.post-content strong {
  color: var(--purple);
  font-weight: 600;
}

.post-content ul {
  list-style: circle;
  padding-left: 2rem;
}
