---
eleventyComputed:
  title: "Portfolio"
permalink: "/portfolio/"
pagination:
  data: getAllProjects
  size: 6
  alias: projects
---
  
<section class="portfolio">
  <div class="portfolio__top-wrapper">
    <h1 class="portfolio__title">Tous les projets</h1>
    <p>Retrouvez l’ensemble de mes <strong>projets</strong> que j’ai réalisé.</p>
  </div>
  <ul class="card-container">
    {% for project in projects %}
    <li>
      <article class="card">
        <a href="/portfolio/{{ project.slug }}">
          <h2 class="card-title">
            {{ project.title }} {% render "icon.html" icon: "arrow-up-right",
            className: "card-title__icon" %}
          </h2>
          <p class="card-paragraph">{{ project.description }}</p>
          <p class="card-discover">
            Découvrir le projet {% render "icon.html" icon: "arrow-long-right",
            className: "card-discover__icon" %}
          </p>
          <div class="card-thumb">
            {% assign thumbURL = metadata.urlStrapi | append:
            project.thumbnail.url %} 
            {% if post.thumbnail.alt %}
              {% assign altImg = post.thumbnail.alt %}
              {% else %}
              {% assign altImg = "" %}
            {% endif %}
            {% render "picture.html" src: thumbURL ,
            alt: altImg , className: "about-picture" , imgClassName:
            "card-thumb__img" , isLazy: false %}
            <ul class="card-thumb__items">
              {% for service in project.services %}
              <li class="card-thumb__item">{{service}}</li>
              {% endfor %}
            </ul>
          </div>
        </a>
      </article>
    </li>
    {% endfor %}
  </ul>
</section>
