---
pagination:
  data: getAllProjects
  size: 1
  alias: project
eleventyComputed:
  title: "{{ project.title }}"
permalink: "/portfolio/{{ project.slug }}/"
---

{% assign mediasLength = project.medias | size %} 
{% assign mediasWithoutFirst = project.medias | slice: 1, mediasLength %}

{% assign firstImage = project.medias | first %}
{% assign firstImageURL = metadata.urlStrapi | append: firstImage.url %}

<section class="project">
  <div class="project__wrapper">
    <div class="project__title-wrapper">
      <h1 class="project__title">{{ project.title }}</h1>
      {% if project.github or project.link %}
      <ul class="project__items">
        {% if project.github %}
        <li class="project__item">
          <a href="{{ project.github }}" target="_blank">
            {% render "icon.html" icon: "brand-github" , stroke: "#7B5199", width:
            32, height: 32 , className: "link-icon" %}<span class="sr-only">
              Découvrir le GitHub</span>
          </a>
        </li>
        {% endif %} {% if project.link %}
        <li class="project__item">
          <a href="{{ project.link }}" target="_blank"
            >{% render "icon.html" icon: "link" , stroke: "#7B5199", width: 32,
            height: 32 , className: "link-icon" %}
            <span class="sr-only">Découvrir le project</span></a
          >
        </li>
        {% endif %}
      </ul>
      {% endif %}
    </div>
    <p class="project__description">{{ project.description }}</p>
  </div>
  {% if firstImage.alt %}
    {% assign altFirstImg = firstImage.alt %}
    {% else %}
    {% assign altFirstImg = "" %}
  {% endif %}
  {% render "picture.html" src: firstImageURL , alt: altFirstImg , className: "project__picture" , imgClassName: "project__img" , isLazy: false %} 
  
  <div class="project__wrapper">
    <h2 class="project__title">A propos du projet</h2>
    <p>{{ project.about }}</p>
  </div>
  
  <div class="project__wrapper">
    <h2 class="project__title">Contexte du projet</h2>
    <div>
      {% assign formattedDate = project.date | formatDateMonthAndYear %}
      {% assign isProduced = "Ce projet a été réalisé en " | append: formattedDate | append: '.' %}
      {% render "accordion.html" number: "01", title: "Date de réalisation", text: isProduced %}
    
      {% assign allServices = project.services | join: ", " %}
      {% render "accordion.html" number: "02", title: "Stack de compétences", text: allServices %}
    </div>
  </div>

  {% for image in mediasWithoutFirst %} 
    {% assign imageURL = metadata.urlStrapi | append: image.url %}
    {% if image.alt %}
      {% assign altImg = image.alt %}
      {% else %}
      {% assign altImg = "" %}
    {% endif %}
    {% render "picture.html" src: imageURL , alt: altImg , className: "project__picture" , imgClassName: "project__img" , isLazy: false %} 
  {% endfor %}  
</section>
